body {
    background-image: url("../images/wolf-creek-back.jpg");
    background-size: cover;
    background-color: lightgreen;
}

.grid {
    width: 750px;
    height: 700px;
    margin: 120px auto;
    background-color: beige;
    padding: 10px 25px 25px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    opacity: .9;
 
}

h1 {
    font-family: 'Lora', serif;
    font-size: 60px;
    text-align: center;
    color: #c74141;
    padding: 10px;
    padding-top: 30px;
}

#questionName {
    height: 75px;
}

#question {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000000;
    text-align: center;
}

.buttons {
    margin-top: 30px;
    text-align: center;
    
}

#btn0, #btn1, #btn2, #btn3 {
    font-family: 'Lora', serif;
    background-color: darkgrey;
    text-align: center;
    width: 400px;
    font-size: 20px;
    color: #c74141;
    font-style: bold;
    border: 2px solid black;
    border-radius: 50px;
    margin: 10px 0px 10px 0px;
    padding: 20px 20px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    background-color: green;
    cursor: pointer;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    font-family: 'Lora', serif;
    color: darkgray;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.corr {
    text-align: center;
    margin-top: 130px;
}

.wrong { 
    text-align: center;
    margin-top: 20px;  
}

.unanswered { 
    text-align: center;
    margin-top: 55px;  
}

#show-clock {
    text-align: right;
    font-family: 'Lora', serif;
}

#timer {
    margin-bottom: 2px;
}